extends layout

block content
  a(href="/register") Register 
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form#form_add_student(name="thelist", method="post", action="/thelist") 
          span Email
          span &nbsp;
          input#input_street(type="email", placeholder="email", name="email")
          br
          br
          span Password
          span &nbsp;
          input#input_city(type="password", placeholder="password", name="password")
          br
          br
          button#submit_student(type="submit") submit